<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <title>Predicting Bank Customer</title>
</head>
<style>
  h1{
      color: rgb(59, 58, 58);
      font-weight: bold;
      font-family: Georgia, serif;
      font-size: 60px;
  }
  P{
      color: rgb(8, 8, 8)
      font-family: "Arial";
      font-size: 20px;
  }
  img{
      margin-top:20px;
  }
  

  </style>
<body style="background-image: url('https://i.pinimg.com/originals/90/25/fa/9025fa9a7a570d8187d65edbecabdca1.png');no-repeat :fixed;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;">
    <center>
        <br>
        <br>
        <h1>Customer Prediction on Opening Deposit</h1>
        <br>
    <form action="http://127.0.0.1:5000/result" method="POST">
        <div>
        <p>Job: 
            <select name="job" id="">
                <option value="0">Admin</option>
                <option value="1">Blue-Collar</option>
                <option value="2">Entrepreneur</option>
                <option value="3">House Maid</option>
                <option value="4">Management</option>
                <option value="5">Retired</option>
                <option value="6">Self Employed</option>
                <option value="7">Services</option>
                <option value="8">Student</option>
                <option value="9">Technician</option>
                <option value="10">Unemployed</option>
            </select>
        </p>
        </div>
        <div>
        <p>Marital Status:
            <select name="marital" id="">
                <option value="0">Divorced</option>
                <option value="1">Married</option>
                <option value="2">Single</option>
            </select>
        </p>
        </div>
        <div> 
        <P> Education:
            <select name="education" id="">
            <option value="0">Primary</option>
            <option value="1">Secondary</option>
            <option value="2">Tertiary</option>
            </select> 
        </P> 
        </div>
        <div> 
        <P> Has Credit in Default :
            <select name="default" id="">
            <option value="0">No</option>
            <option value="1">Yes</option>
            </select> 
        </P> 
        </div>
        <div>
        <p>Balance:
            <input required type="number" name="balance">
            </select>
        </p>
        </div>
        <div> 
        <P> Has Housing Loan:
            <select name="housing" id="" >
            <option value="0">No</option>
            <option value="1">Yes</option>
            </select> 
        </P> 
        </div>
        <div> 
            <P> Has Personal Loan:
            <select name="loan" id="" >
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select> 
            </P> 
        </div>
        <div> 
            <P> Contact Communication Type:
            <select name="contact" id="" >
                <option value="0">Cellular</option>
                <option value="1">Telephone</option>
            </select> 
            </P> 
        </div>
        <div>
            <p> Date Contacted: 
            <input required type="number" name="day">
            </p>
        </div>
        <div>
            <p>Last Contact Month: 
                <select name="month" id="">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
            </p>
        </div>
        <div>
            <p>Last Contacted Duration (in second): 
            <input required type="number" name="duration">
            </p>
        </div>
        <div>
            <p> Current Campaign Contacted: 
            <input required type="number" name="campaign">
            </p>
        </div>
        <div>
        <p> Previous Campaign Contacted: 
            <input required type="number" name="previous">
        </p>
        </div>
        <div>
            <p>Age Group: 
                <select name="age" id="">
                    <option value="0">17-24</option>
                    <option value="1">25-34</option>
                    <option value="2">35-44</option>
                    <option value="3">45-54</option>
                    <option value="4">55-64</option>
                    <option value="5">65+</option>
                </select>
            </p>
        </div>
        <div>
            <p>Days passed by after last contacted from a previous campaign: 
                <select name="pdays" id="">
                    <option value="0">1 to 143 days</option>
                    <option value="1">144 to 282 days</option>
                    <option value="2">283 to 427 days</option>
                    <option value="3">More than 428 days</option>
                    <option value="4">Not Previously Contacted</option>
                </select>
            </p>
        </div>
        <br>
        <div>
        <p>
            <input type="submit" value="Start Predicting" style="background-color:rgb(211,211,211); color: rgb(8, 8, 8); width: 700px"
            class="btn btn-info">
        </p>
        </div>
  </form>
</center>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>